.container {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
}

.grid-item--1 {
  background-color: black;
}
.grid-item--2 {
  background-color: white;
}
.grid-item--3 {
  background-color: black;
}
.grid-item--4 {
  background-color: white;
}
.grid-item--5 {
  background-color: white;
}
.grid-item--6 {
  background-color: black;
}
.grid-item--7 {
  background-color: white;
}
.grid-item--8 {
  background-color: black;
}
.grid-item--9 {
  background-color: black;
}
.grid-item--10 {
  background-color: white;
}
.grid-item--11 {
  background-color: black;
}
.grid-item--12 {
  background-color: white;
}
.grid-item--13 {
  background-color: white;
}
.grid-item--14 {
  background-color: black;
}
.grid-item--15 {
  background-color: white;
}
.grid-item--16 {
  background-color: black;
}
